<h1>Your Order Has Been Received!</h1>

{{!-- <p>{{viewOrder.first_name}} {{viewOrder.last_name}}</p>

<p>Phone: {{viewOrder.phone_number}}</p>

<p>Email: {{viewOrder.email}}</p>

<p>Route: {{viewOrder.route}}</p>

<p>Hotel: {{viewOrder.hotel}}</p>

<p>Drop Off: {{viewOrder.drop_off}}</p>

<p>Pick Up: {{viewOrder.pick_up}}</p>

<p>Luggage: {{viewOrder.luggage}}</p>
 --}}
